:root {
  --window-bg-color: #fff;
  --headerbar-shade-color: #dadce0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --window-bg-color: #202124;
    --headerbar-shade-color: #3c4043;
  }
}

#main-headerbar {
  border-bottom: 1px solid var(--headerbar-shade-color);
}

#main-headerbar .toggle {
  border-radius: 100%;
  margin: 5px;
  min-height: 5px;
  padding: 0;
}

#main-headerbar,
#main-headerbar > * > * {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 32px;
}

#main-headerbar windowhandle > box {
  padding-left: 2px;
  padding-right: 2px;
}
